# Python 3 caching
__pycache__
*.pyc

# Unit test stuff
test_results.xml

# Rope Project stuff
.ropeproject

# Emacs swap files
*~

# vim swap files
*.swp

# log files
*.log
dist
build
src/nio.egg-info
